.inputForm{
    padding:20px;
    height:170px;
    width:30%;
   float:right;

}

.instructions{
    margin-top:10px;
}
body{
    background-color: rgb(222, 222, 222);
   
}

.submit{
    background-color:rgb(13, 157, 106) !important;
}

.userButton{
    margin:5px;
    border-radius: 5px;
    background-color: rgb(13, 157, 106);
    color:white;
    padding:8px;
}

.gif{
    height:200px;
    width:200px;
    border-top:gray 1px solid;
}
.gifDiv{
    float:left;
    margin:10px;
    border:gray 1px solid;
    background: white;
    padding-top:15px;
}
.gifs{
    width:70%;
}

.text{
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 500px){
    .userButton{
        width:235px;
    }
    .inputForm{
        float:none;
        width:100%;
        margin-bottom:50px;
    }
    .gif{
        height:180px;
        width:222px;
    }
    .gifs{
    width:100%;
    }
}